<h1>Url Generator</h1>
<%= render "form" %>

<h4>NEW URLS </h4>
<% @urls.each do |url| %>
  <%= link_to "/url/#{url.new_url}", new_url_path(url) %><br>
  <!-- links to what link to display, actual link -->
<%end%>
